:root {
    --checkBlue: rgb(50, 115, 246);
    --medBlue: rgb(127,167,249);
    --whiteBlue: rgb(217,229,253);

    --fullGreen:rgb(115, 231, 97);
    --lightGreen: rgb(188, 238, 180);;

    --lightGrey: rgb(204,204,204);
    --medGrey: rgb(165, 165, 165);
    --darkGrey: rgb(79,79,79);
  }

#newTaskForm{
  background-color: var(--checkBlue);
}

#editTaskForm{
    background-color: var(--checkBlue);
  }

.task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em;
  border-radius: .5em;
  width: 30em;
}

#todo-list{
  width: 800px;
  padding-left:0;

}


.taskRow{
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding: .5em;
  background-color: var(--lightGrey);
  border-radius: .5em;
}

.hiddenFirst { 
  display: none; 
}

ul {
    list-style-type:none;
}

.checkbox-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--darkGrey);
  width:20px;
  border-radius: .5em 0em 0em .5em;

}

.task-info{
  background-color: var(--lightGreen);
  border-radius: 0em .5em .5em 0em;
}

.collapsible{
  background-color: var(--whiteBlue);
}

.complete{
  background-color: var(--fullGreen);
}